*/bin
*/.DS_store
*/.vs
TowerDefense/.vs
TowerDefense/TowerDefenseModel/bin
TowerDefense/TowerDefenseModel/obj
TowerDefense/TowerDefenseViewModel/bin
TowerDefense/TowerDefenseViewModel/obj
TowerDefense/TowerDefensePersistence/bin
TowerDefense/TowerDefensePersistence/obj
TowerDefense/TowerDefenseView/bin
TowerDefense/TowerDefenseView/obj

**/bin
**/.DS_store
**/.vs

*.dll
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.pdb

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

TowerDefense/.vs
TowerDefense/TowerDefenseModel/obj
TowerDefense/TowerDefenseView/obj
TowerDefense/TowerDefenseViewModel/obj

TowerDefense/TowerDefenseViewModel/obj
TowerDefense/TowerDefensePersistence/obj
TowerDefense/TowerDefenseView/obj
TowerDefense/TowerDefenseModel/obj
TowerDefense/TowerDefenseModel/obj
TowerDefense/TowerDefenseModel/obj/Debug/netcoreapp3.1
